body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.img-container {
  display: grid;
  place-items: center;
  height: 50vh;
}

.img-container__img {
  width: 200px;
  filter: blur(5px) grayscale(100%) contrast(0.1);
  transition: all 1s;
}

.img-container__img.toggle-img {
  filter: none;
}
li {
  list-style: none;
  text-transform: capitalize;
}
.character-name__frame {
  visibility: hidden;
}

.character-name {
  font-size: large;
  color: orange;
}

h2 {
  text-align: center;
}

.large {
  font-size: 3rem;
}
